<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningsystem.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.learningsystem.pojo.Class">
    <id column="C_ID" jdbcType="INTEGER" property="cId" />
    <result column="C_CLASSID" jdbcType="INTEGER" property="cClassid" />
    <result column="T_TEACHER" jdbcType="VARCHAR" property="tTeacher" />
    <result column="C_NAME" jdbcType="VARCHAR" property="cName" />
    <result column="C_COLLEGE" jdbcType="VARCHAR" property="cCollege" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.learningsystem.pojo.Class">
    <result column="C_MAJOR" jdbcType="VARBINARY" property="cMajor" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    C_ID, C_CLASSID, T_TEACHER, C_NAME, C_COLLEGE
  </sql>
  <sql id="Blob_Column_List">
    C_MAJOR
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.learningsystem.pojo.ClassExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.learningsystem.pojo.ClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from class
    where C_ID = #{cId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where C_ID = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.learningsystem.pojo.ClassExample">
    delete from class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.learningsystem.pojo.Class">
    insert into class (C_ID, C_CLASSID, T_TEACHER, 
      C_NAME, C_COLLEGE, C_MAJOR
      )
    values (#{cId,jdbcType=INTEGER}, #{cClassid,jdbcType=INTEGER}, #{tTeacher,jdbcType=VARCHAR}, 
      #{cName,jdbcType=VARCHAR}, #{cCollege,jdbcType=VARCHAR}, #{cMajor,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.learningsystem.pojo.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        C_ID,
      </if>
      <if test="cClassid != null">
        C_CLASSID,
      </if>
      <if test="tTeacher != null">
        T_TEACHER,
      </if>
      <if test="cName != null">
        C_NAME,
      </if>
      <if test="cCollege != null">
        C_COLLEGE,
      </if>
      <if test="cMajor != null">
        C_MAJOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cClassid != null">
        #{cClassid,jdbcType=INTEGER},
      </if>
      <if test="tTeacher != null">
        #{tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cCollege != null">
        #{cCollege,jdbcType=VARCHAR},
      </if>
      <if test="cMajor != null">
        #{cMajor,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.learningsystem.pojo.ClassExample" resultType="java.lang.Long">
    select count(*) from class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class
    <set>
      <if test="record.cId != null">
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cClassid != null">
        C_CLASSID = #{record.cClassid,jdbcType=INTEGER},
      </if>
      <if test="record.tTeacher != null">
        T_TEACHER = #{record.tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null">
        C_NAME = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cCollege != null">
        C_COLLEGE = #{record.cCollege,jdbcType=VARCHAR},
      </if>
      <if test="record.cMajor != null">
        C_MAJOR = #{record.cMajor,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update class
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_CLASSID = #{record.cClassid,jdbcType=INTEGER},
      T_TEACHER = #{record.tTeacher,jdbcType=VARCHAR},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_COLLEGE = #{record.cCollege,jdbcType=VARCHAR},
      C_MAJOR = #{record.cMajor,jdbcType=VARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_CLASSID = #{record.cClassid,jdbcType=INTEGER},
      T_TEACHER = #{record.tTeacher,jdbcType=VARCHAR},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_COLLEGE = #{record.cCollege,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.learningsystem.pojo.Class">
    update class
    <set>
      <if test="cClassid != null">
        C_CLASSID = #{cClassid,jdbcType=INTEGER},
      </if>
      <if test="tTeacher != null">
        T_TEACHER = #{tTeacher,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cCollege != null">
        C_COLLEGE = #{cCollege,jdbcType=VARCHAR},
      </if>
      <if test="cMajor != null">
        C_MAJOR = #{cMajor,jdbcType=VARBINARY},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.learningsystem.pojo.Class">
    update class
    set C_CLASSID = #{cClassid,jdbcType=INTEGER},
      T_TEACHER = #{tTeacher,jdbcType=VARCHAR},
      C_NAME = #{cName,jdbcType=VARCHAR},
      C_COLLEGE = #{cCollege,jdbcType=VARCHAR},
      C_MAJOR = #{cMajor,jdbcType=VARBINARY}
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learningsystem.pojo.Class">
    update class
    set C_CLASSID = #{cClassid,jdbcType=INTEGER},
      T_TEACHER = #{tTeacher,jdbcType=VARCHAR},
      C_NAME = #{cName,jdbcType=VARCHAR},
      C_COLLEGE = #{cCollege,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=INTEGER}
  </update>
</mapper>