<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningsystem.dao.LessonMapper">
  <resultMap id="BaseResultMap" type="com.learningsystem.pojo.Lesson">
    <id column="L_ID" jdbcType="INTEGER" property="lId" />
    <result column="L_NAME" jdbcType="VARCHAR" property="lName" />
    <result column="L_NUMBER" jdbcType="VARCHAR" property="lNumber" />
    <result column="C_CLASSID" jdbcType="INTEGER" property="cClassid" />
    <result column="T_TEACHER" jdbcType="INTEGER" property="tTeacher" />
    <result column="STU_STUDENTID" jdbcType="VARCHAR" property="stuStudentid" />
  </resultMap>

  <!--查询班级下的课程 findClassLesson-->
  <select id="findClassLesson" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT DISTINCT
    lesson.L_NAME
    FROM
    class ,
    lesson
    WHERE
    lesson.C_CLASSID = #{cClassid}
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    L_ID, L_NAME, L_NUMBER, C_CLASSID, T_TEACHER, STU_STUDENTID
  </sql>
  <select id="selectByExample" parameterType="com.learningsystem.pojo.LessonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lesson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lesson
    where L_ID = #{lId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lesson
    where L_ID = #{lId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.learningsystem.pojo.LessonExample">
    delete from lesson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.learningsystem.pojo.Lesson">
    insert into lesson (L_ID, L_NAME, L_NUMBER, 
      C_CLASSID, T_TEACHER, STU_STUDENTID
      )
    values (#{lId,jdbcType=INTEGER}, #{lName,jdbcType=VARCHAR}, #{lNumber,jdbcType=VARCHAR}, 
      #{cClassid,jdbcType=INTEGER}, #{tTeacher,jdbcType=INTEGER}, #{stuStudentid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.learningsystem.pojo.Lesson">
    insert into lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        L_ID,
      </if>
      <if test="lName != null">
        L_NAME,
      </if>
      <if test="lNumber != null">
        L_NUMBER,
      </if>
      <if test="cClassid != null">
        C_CLASSID,
      </if>
      <if test="tTeacher != null">
        T_TEACHER,
      </if>
      <if test="stuStudentid != null">
        STU_STUDENTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="lName != null">
        #{lName,jdbcType=VARCHAR},
      </if>
      <if test="lNumber != null">
        #{lNumber,jdbcType=VARCHAR},
      </if>
      <if test="cClassid != null">
        #{cClassid,jdbcType=INTEGER},
      </if>
      <if test="tTeacher != null">
        #{tTeacher,jdbcType=INTEGER},
      </if>
      <if test="stuStudentid != null">
        #{stuStudentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.learningsystem.pojo.LessonExample" resultType="java.lang.Long">
    select count(*) from lesson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lesson
    <set>
      <if test="record.lId != null">
        L_ID = #{record.lId,jdbcType=INTEGER},
      </if>
      <if test="record.lName != null">
        L_NAME = #{record.lName,jdbcType=VARCHAR},
      </if>
      <if test="record.lNumber != null">
        L_NUMBER = #{record.lNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.cClassid != null">
        C_CLASSID = #{record.cClassid,jdbcType=INTEGER},
      </if>
      <if test="record.tTeacher != null">
        T_TEACHER = #{record.tTeacher,jdbcType=INTEGER},
      </if>
      <if test="record.stuStudentid != null">
        STU_STUDENTID = #{record.stuStudentid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lesson
    set L_ID = #{record.lId,jdbcType=INTEGER},
      L_NAME = #{record.lName,jdbcType=VARCHAR},
      L_NUMBER = #{record.lNumber,jdbcType=VARCHAR},
      C_CLASSID = #{record.cClassid,jdbcType=INTEGER},
      T_TEACHER = #{record.tTeacher,jdbcType=INTEGER},
      STU_STUDENTID = #{record.stuStudentid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.learningsystem.pojo.Lesson">
    update lesson
    <set>
      <if test="lName != null">
        L_NAME = #{lName,jdbcType=VARCHAR},
      </if>
      <if test="lNumber != null">
        L_NUMBER = #{lNumber,jdbcType=VARCHAR},
      </if>
      <if test="cClassid != null">
        C_CLASSID = #{cClassid,jdbcType=INTEGER},
      </if>
      <if test="tTeacher != null">
        T_TEACHER = #{tTeacher,jdbcType=INTEGER},
      </if>
      <if test="stuStudentid != null">
        STU_STUDENTID = #{stuStudentid,jdbcType=VARCHAR},
      </if>
    </set>
    where L_ID = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learningsystem.pojo.Lesson">
    update lesson
    set L_NAME = #{lName,jdbcType=VARCHAR},
      L_NUMBER = #{lNumber,jdbcType=VARCHAR},
      C_CLASSID = #{cClassid,jdbcType=INTEGER},
      T_TEACHER = #{tTeacher,jdbcType=INTEGER},
      STU_STUDENTID = #{stuStudentid,jdbcType=VARCHAR}
    where L_ID = #{lId,jdbcType=INTEGER}
  </update>
</mapper>