<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningsystem.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.learningsystem.pojo.Student">
    <id column="STU_ID" jdbcType="INTEGER" property="stuId" />
    <result column="TG_OPENID" jdbcType="VARCHAR" property="tgOpenid" />
    <result column="C_CLASSID" jdbcType="INTEGER" property="cClassid" />
    <result column="TG_IDENTIFYING" jdbcType="INTEGER" property="tgIdentifying" />
    <result column="STU_STUDENTID" jdbcType="VARCHAR" property="stuStudentid" />
    <result column="STU_PASSWORD" jdbcType="VARCHAR" property="stuPassword" />
    <result column="STU_NAME" jdbcType="VARCHAR" property="stuName" />
    <result column="STU_GENDER" jdbcType="VARCHAR" property="stuGender" />
    <result column="G_IDENTIFYING" jdbcType="INTEGER" property="gIdentifying" />
    <result column="STU_EMAIL" jdbcType="VARCHAR" property="stuEmail" />
    <result column="STU_PHONER" jdbcType="INTEGER" property="stuPhoner" />
    <result column="STU_QQ" jdbcType="INTEGER" property="stuQq" />
    <result column="STU_WECHAT" jdbcType="VARCHAR" property="stuWechat" />
  </resultMap>

  <sql id="Base_Column_List">
    STU_ID, TG_OPENID, C_CLASSID, TG_IDENTIFYING, STU_STUDENTID, STU_PASSWORD, STU_NAME, 
    STU_GENDER, G_IDENTIFYING, STU_EMAIL, STU_PHONER, STU_QQ, STU_WECHAT
  </sql>
  
  <!-- 验证账号密码 -->
   <select id="selectByIdAndPassword" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where STU_STUDENTID = #{id} AND STU_PASSWORD =#{password}
  </select>
  
  <!-- 根据openid查询 -->
   <select id="selectByTgOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where TG_OPENID = #{openid}
  </select>
  

</mapper>