<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningsystem.dao.WritebackMapper">
  <resultMap id="BaseResultMap" type="com.learningsystem.pojo.Writeback">
    <id column="WB_ID" jdbcType="INTEGER" property="wbId" />
    <result column="RDQ_ID" jdbcType="INTEGER" property="rdqId" />
    <result column="WB_CONTENT" jdbcType="VARCHAR" property="wbContent" />
    <result column="WB_UPLOADFILE" jdbcType="VARCHAR" property="wbUploadfile" />
    <result column="STU_STUDENTID" jdbcType="VARCHAR" property="stuStudentid" />
    <result column="WB_CONTENT_NUM" javaType="INT" property="wbCcontenNum"/>
    <result column="WB_TIME" jdbcType="VARCHAR" property="wbTime" />
  </resultMap>
  <resultMap id="BaseResultMapAndStudent" type="com.learningsystem.pojo.Writeback">
    <id column="WB_ID" jdbcType="INTEGER" property="wbId" />
    <result column="RDQ_ID" jdbcType="INTEGER" property="rdqId" />
    <result column="WB_CONTENT" jdbcType="VARCHAR" property="wbContent" />
    <result column="WB_UPLOADFILE" jdbcType="VARCHAR" property="wbUploadfile" />
    <result column="STU_STUDENTID" jdbcType="VARCHAR" property="stuStudentid" />
    <result column="WB_CONTENT_NUM" javaType="INT" property="wbCcontenNum"/>
    <result column="WB_TIME" jdbcType="VARCHAR" property="wbTime" />
    <association property="student" javaType="com.learningsystem.pojo.Student">
      <result column="STU_STUDENTID" jdbcType="VARCHAR" property="stuStudentid" />
      <result column="STU_NAME" jdbcType="VARCHAR" property="stuName" />
    </association>
  </resultMap>

  <insert id="replyMessage" parameterType="com.learningsystem.pojo.Writeback">
    INSERT INTO `learningsystemdatabase`.`writeback` (
        `RDQ_ID`,
        `WB_CONTENT`,
        `WB_UPLOADFILE`,
        `STU_STUDENTID`,
        `WB_TIME`
    )
    VALUES

        (
            #{rdqId},
            #{wbContent},
            #{wbUploadfile},
            #{stuStudentid},
            #{wbTime}
        )
  </insert>

  <!--查询该帖子的所有内容-->
  <select id="selectRdqAndWrite" resultMap="BaseResultMapAndStudent" parameterType="java.lang.String">
    SELECT
    writeback.WB_CONTENT,
    writeback.WB_UPLOADFILE,
    writeback.STU_STUDENTID,
    writeback.WB_TIME,
    student.STU_NAME
    FROM
    writeback ,
    student
    WHERE
    writeback.RDQ_ID = #{rdqId}
    AND
    writeback.STU_STUDENTID = student.STU_STUDENTID
    GROUP BY
    writeback.WB_TIME
  </select>

  <update id="insertWritebackCount" parameterType="java.lang.Integer">

   UPDATE writeback
    SET writeback.WB_CONTENT_NUM = (
	SELECT
		count(WB_CONTENT)
	FROM
		(SELECT RDQ_ID FROM writeback) AS x
	WHERE
		x.RDQ_ID = #{rdqId,jdbcType=INTEGER}
    )
    WHERE
	  writeback.RDQ_ID = #{rdqId,jdbcType=INTEGER}
  </update>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    WB_ID, RDQ_ID, WB_CONTENT, WB_UPLOADFILE, STU_STUDENTID
  </sql>
  <select id="selectByExample" parameterType="com.learningsystem.pojo.WritebackExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from writeback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from writeback
    where WB_ID = #{wbId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from writeback
    where WB_ID = #{wbId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.learningsystem.pojo.WritebackExample">
    delete from writeback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.learningsystem.pojo.Writeback">
    insert into writeback (WB_ID, RDQ_ID, WB_CONTENT, 
      WB_UPLOADFILE, STU_STUDENTID)
    values (#{wbId,jdbcType=INTEGER}, #{rdqId,jdbcType=INTEGER}, #{wbContent,jdbcType=VARCHAR}, 
      #{wbUploadfile,jdbcType=VARCHAR}, #{stuStudentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learningsystem.pojo.Writeback">
    insert into writeback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wbId != null">
        WB_ID,
      </if>
      <if test="rdqId != null">
        RDQ_ID,
      </if>
      <if test="wbContent != null">
        WB_CONTENT,
      </if>
      <if test="wbUploadfile != null">
        WB_UPLOADFILE,
      </if>
      <if test="stuStudentid != null">
        STU_STUDENTID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wbId != null">
        #{wbId,jdbcType=INTEGER},
      </if>
      <if test="rdqId != null">
        #{rdqId,jdbcType=INTEGER},
      </if>
      <if test="wbContent != null">
        #{wbContent,jdbcType=VARCHAR},
      </if>
      <if test="wbUploadfile != null">
        #{wbUploadfile,jdbcType=VARCHAR},
      </if>
      <if test="stuStudentid != null">
        #{stuStudentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.learningsystem.pojo.WritebackExample" resultType="java.lang.Long">
    select count(*) from writeback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update writeback
    <set>
      <if test="record.wbId != null">
        WB_ID = #{record.wbId,jdbcType=INTEGER},
      </if>
      <if test="record.rdqId != null">
        RDQ_ID = #{record.rdqId,jdbcType=INTEGER},
      </if>
      <if test="record.wbContent != null">
        WB_CONTENT = #{record.wbContent,jdbcType=VARCHAR},
      </if>
      <if test="record.wbUploadfile != null">
        WB_UPLOADFILE = #{record.wbUploadfile,jdbcType=VARCHAR},
      </if>
      <if test="record.stuStudentid != null">
        STU_STUDENTID = #{record.stuStudentid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update writeback
    set WB_ID = #{record.wbId,jdbcType=INTEGER},
      RDQ_ID = #{record.rdqId,jdbcType=INTEGER},
      WB_CONTENT = #{record.wbContent,jdbcType=VARCHAR},
      WB_UPLOADFILE = #{record.wbUploadfile,jdbcType=VARCHAR},
      STU_STUDENTID = #{record.stuStudentid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.learningsystem.pojo.Writeback">
    update writeback
    <set>
      <if test="rdqId != null">
        RDQ_ID = #{rdqId,jdbcType=INTEGER},
      </if>
      <if test="wbContent != null">
        WB_CONTENT = #{wbContent,jdbcType=VARCHAR},
      </if>
      <if test="wbUploadfile != null">
        WB_UPLOADFILE = #{wbUploadfile,jdbcType=VARCHAR},
      </if>
      <if test="stuStudentid != null">
        STU_STUDENTID = #{stuStudentid,jdbcType=VARCHAR},
      </if>
    </set>
    where WB_ID = #{wbId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learningsystem.pojo.Writeback">
    update writeback
    set RDQ_ID = #{rdqId,jdbcType=INTEGER},
      WB_CONTENT = #{wbContent,jdbcType=VARCHAR},
      WB_UPLOADFILE = #{wbUploadfile,jdbcType=VARCHAR},
      STU_STUDENTID = #{stuStudentid,jdbcType=VARCHAR}
    where WB_ID = #{wbId,jdbcType=INTEGER}
  </update>
</mapper>